<mat-progress-bar mode="indeterminate" *ngIf="loading>0"></mat-progress-bar>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="setFilter($event)" placeholder="Ex. Mia" [value]='filter'>
</mat-form-field>

<a mat-raised-button [href]="'/3dforce/v1.html?_=' + data.filter + '#' + data.filter" mat-button target="tommaso-3d-force-v1">
  <mat-icon>device_hub</mat-icon>
  3D graph
</a>

<table mat-table [dataSource]="data" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
      <td mat-cell *matCellDef="let element"><code>{{element.source}}</code></td>
    </ng-container>
  
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef > Target </th>
      <td mat-cell *matCellDef="let element"> <code>{{element.args[0]}}:{{element.args[1]}}</code></td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef > Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="passed">
      <th mat-header-cell *matHeaderCellDef> Passed </th>
      <td mat-cell *matCellDef="let element" >
        <span *ngIf="element.pass" [style.color]="'green' ">
          <mat-icon [inline]="true">check_circle</mat-icon>
        </span>
        <span *ngIf="!element.pass" [style.color]="'red' ">
          <mat-icon [inline]="true">error</mat-icon>
        </span>
      </td>
    </ng-container>  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" >
        &nbsp;
        <b>{{element.status}}</b><span *ngIf="element.expect_failure"> (FAIL is expected)</span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="elapsed">
      <th mat-header-cell *matHeaderCellDef> Elapsed </th>
      <td mat-cell *matCellDef="let element"> {{element.elapsed}}ms </td>
    </ng-container>

    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>
  
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Last check </th>
        <td mat-cell *matCellDef="let element"> {{element.time | date :'short'}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.background]="row.pass?'white':'#FFDDDD'"  ></tr>
  </table>
  


